<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.examples.mapper.UserMapper">
  
  <select id="getUserList" resultType="map">
    select id from jbos_user_auth
  </select>
  <select id="getUserById" resultType="com.application.examples.pojo.User">
    select id from jbos_user_auth where id = #{id}
  </select>
</mapper>