<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.application.sys.mapper.UserMapper">

    <select id="getUserList" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT A.ID,A.LOGINNAME,A.PASSWORD,A.USERNAME,A.SALT,A.USERSTATUS
        FROM JBOS_USER A
    </select>
    <update id="updateUserInfo"  parameterType="java.util.Map">
        UPDATE JBOS_ROLE SET PARENTID='3' WHERE ID='0fc09c65-7667-450c-bcb3-a5a9f2350e7e'
    </update>
    <update id="updateUser" parameterType="java.util.Map">
         UPDATE JBOS_USER SET USERNAME='1' WHERE ID='1b15b830-e01e-46b0-9f77-cbedb5745e0a'
    </update>
</mapper>